* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
}

html, body, #root, .app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 24px;
    background-color: #383B3D;
}

.home {
    margin-top: 36px;
    flex-grow: 1;
    font-family: Roboto, Arial, sans-serif;
    color: #ebebeb;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 64px;
}
